/* ----DEFAULT ELEMENT STYLING START---- */
html {
    /* Positioning */
    position: relative;

    /* Box-model */
    min-height: 100%;
}

body {
    /* Positioning */
    margin-bottom: 150px;
    background-color: black;
    color: white;

    /* Typography */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* FOOTER */
/* footer {
    background-color: #2e0202;
    color: #b6bdfc;
    padding: 25px;
    height: 50px;
} */

footer {
    position: absolute;
    bottom: 0;
    background-color: #2e0202;
    color: #b6bdfc;
    padding: 25px;
    height: 50px;
    width: 100%;
}



/* .col-sm-3{
    border: solid 2px #2e0202;
} */

/* https://www.lifewire.com/stretch-background-image-3466979 */
#bg-test {
    border: solid 2px #2e0202;
}

.jumbotron{
    color: white;
    background-color: #2e0202;
    height: 150px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px
}

#address-map {
    width: 100%;
    height: 300px;
    position: relative;
    margin:0;
    padding:0; 
    /* border: 1px solid pink;
    border-radius: 8px; */
}


/* https://www.wikihow.com/Create-a-Dropdown-Menu-in-HTML-and-CSS */
.dropbtn {
    background-color: black;
    color: pink;
    padding: 5px;
    font-size: 32px;
    border: none;
}
