<!DOCTYPE html>
<html lang="en">
<head>
    <title>Who we are? </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
    <!-- Our own CSS stylesheet -->
    <!-- <link rel="stylesheet" href="../static/css/style.css" media="screen"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
</head>
<body>
    <div id="bg-test">
  
        <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">School Name</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('home')}}">Home</a></li>
                <li class="active"><a href="{{ url_for('about')}}">About us</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/amitmals/IPEDS"><span class="link-github"></span> Github</a></li>
            </ul>
            </div>
        </div>
        </nav>

        <div class="jumbotron">
            <div class="container text-center">
                <div id="jumbotron-data">
                    <h1>About us</h1>      
                    <p>UCSD BootCamp-2019</p>
                </div>
            </div>
        </div>
        
        <div class="container-fluid bg-3 text-center">    
        <h3>Meet the team</h3><br>
        <div class="row">
            <div class="col-sm-4">
                <p>Dan</p>
                <div id="info-Dan"></div>
            </div>
            <div class="col-sm-4"> 
                <p>Manu</p>
                <div id="info-Manu"></div>
            
            </div>
            <div class="col-sm-4"> 
                <p>Amit</p>
                <div id="info-Amit"></div>
            
            </div>
        </div>
        </div><br>

        
        <!-- API key -->
        <!-- <script type="text/javascript" src="config.js"></script> -->
        <script src="{{ url_for('static', filename='js/config.js') }}"></script>
        <!-- JS -->
        <!-- <script type="text/javascript" src="logic_amit.js"></script> -->
        <script src="{{ url_for('static', filename='js/logic.js') }}"></script>


    </div>
</body>
</html>